{% extends "error_base.html" %}

{% block title %}Метод не поддерживается | Молния-Клининг{% endblock %}
{% block error_code %}405{% endblock %}
{% block error_label %}Неверный способ запроса{% endblock %}
{% block error_heading %}Метод не поддерживается{% endblock %}
{% block error_message %}Страница открыта корректно, но это действие нельзя выполнить таким способом. Попробуйте перейти заново и повторить шаг со страницы сайта.{% endblock %}
{% block error_hint %}Чаще всего помогает обычное обновление страницы или переход через кнопку в интерфейсе.{% endblock %}
