@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Geologica-400.b324d4357fc2.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Geologica-500.da60fdc0adec.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Geologica-600.c0a0bbbea8ed.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Geologica-700.1fe9c3aafc75.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Geologica-800.1a733e17843f.ttf") format("truetype");
}
