{% extends "error_pages/error_base.html" %}

{% block title %}Временный сбой сервиса | Молния-Клининг{% endblock %}
{% block error_code %}502{% endblock %}
{% block error_label %}Проблема на стороне сервиса{% endblock %}
{% block error_heading %}Временный сбой соединения{% endblock %}
{% block error_message %}Сейчас возникла проблема при обращении к сервису. Обычно такие ошибки проходят сами через короткое время.{% endblock %}
{% block error_hint %}Попробуйте обновить страницу чуть позже или вернуться к нужной услуге с главной.{% endblock %}
