{% extends "error_pages/error_base.html" %}

{% block title %}Сервис временно недоступен | Молния-Клининг{% endblock %}
{% block error_code %}503{% endblock %}
{% block error_label %}Техническая пауза{% endblock %}
{% block error_heading %}Сервис временно недоступен{% endblock %}
{% block error_message %}Мы проводим технические работы или испытываем повышенную нагрузку. Попробуйте открыть сайт немного позже.{% endblock %}
{% block error_hint %}Если вопрос срочный, лучше сразу позвонить нам по телефону ниже.{% endblock %}
